.footer__team-text {
  margin: 0;
}

.footer__tagline {
  // TODO: подключить шрифт Source Sans Pro

  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: var(--font-size-xs);
    text-align: center;

    padding: 16px;
  }

  .footer__team-text {
    font-weight: 700;

    margin-bottom: 4px;
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
  }
}
