:root {
  --primary: #f2b807;
  --second: #f28f16;
  --third: #f5db13;
  --danger: #d93e30;
  --white: #f6f7f9;
  --dark: #212121;

  --green: #73d677;
  --yellow: #f2cb07;
}

body {
  min-width: 375px;
  margin: 0;
}
